[data-theme="dark"] {
    --card__border--color: var(--gray--2);
    --card--code--color: var(--gray--3);
    --card--copy--color: var(--gray--5);
    --card--scroll--color: var(--gray--2);

}

.c-wrapper-cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    &__title {
        font-size: 32px;
    }
}

.c-card {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border: 1px solid var(--card__border--color);
    padding: 8px;
    border-radius: 4px;
    position: relative;

    &__title {
        font-weight: 600;
        font-size: 18px;
    }
    
    @keyframes iconHide {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(180deg);
        }
    }

    @keyframes iconShow {
        from {
            transform: rotate(180deg);
        }
        to {
            transform: rotate(0deg);
        }
    }

    &__icon {
        position: absolute;
        right: 16px;
        top: 8px;
        transition: .5;
        transform: rotate(0deg);
        animation: iconShow 400ms;

        svg {
            cursor: pointer;
            transition: .4;
            &:hover {
                path {
                    stroke: var(--card--copy--color);
                }
            }
            
        }

        &.card__hide {
            animation: iconHide 400ms;
            transform: rotate(180deg);

        }
    }

    &__body {
        display: none;
        flex-wrap: wrap;
        transition: 5s;
        margin-top: 14px;

        button {
            margin: 0 4px;
        }
    }

    &__copy {
        position: relative;
        width: 100%;

        svg {
            cursor: pointer;
            transition: .4;
            top: 24px;
            right: 12px;
            position: absolute;
            &:hover {
                path {
                    stroke: var(--card--copy--color);
                }
            }
        }
    }
    

    &__code {
        width: 100%;
        margin-top: 16px;
        border: 1px solid var(--card__border--color);
        background: none;
        overflow-x: hidden;
        overflow-y: auto;
        resize: none;
        border-radius: 3px;
        outline: none;
        font-family: monospace;
        padding: 8px;
        color: var(--card--code--color);

        &::-webkit-scrollbar {
            width: 5px;
        }
          
        &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background: var(--card--scroll--color); 
        }
    }
}
