:root {
    --body__font--color: var(--gray);
    --body__background--color: var(--gray--6);
    --body__scroll--color: var(--gray--3);

    --navbar__background--color: var(--gray--6);
    --navbar__border--color: var(--gray--5);

    --menu__font--color: var(--gray--4);
    --menu__active--color: var(--primary--2);
}

[data-theme="dark"] {
    --body__font--color: var(--gray--6);
    --body__background--color: var(--gray);
    --body__scroll--color: var(--gray--2);

    --navbar__background--color: var(--gray);
    --navbar__border--color: var(--gray--2);

    --menu__font--color: var(--gray--3);
    --menu__active--color: var(--primary--2);
}

body {
    background-color: var(--body__background--color);
    color: var(--body__font--color);
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 16px;
    height: 100vh;

    &::-webkit-scrollbar {
        width: 8px;
    }
      
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: var(--body__scroll--color); 
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--navbar__background--color);
    width: 100vw;
    height: 58px;
    align-items: center;
    margin-bottom: 24px;
    padding: 0px 40px;
    border-bottom: 1px solid var(--navbar__border--color);
}

.logo {
    width: 58px;
    height: 40px;
}

.menu {
    display: flex;
    height: 58px;

    &__item {
        @extend .menu;
        display: flex;
        align-items: center;
        border-bottom: 2px solid transparent;
        padding: 0 8px;
        font-weight: 400;
        cursor: pointer;
        margin: 0 8px;
        color: var(--menu__font--color);
        transition: .5s;
        
        .menu__icon {
            margin-right: 8px;

            path {
                stroke: var(--menu__font--color);
            }

            &--active {
                @extend .menu__icon;
                path {
                    stroke: var(--menu__active--color);
                }
            }
        }

        &--active {
            @extend .menu__item;
            color: var(--menu__active--color);
            border-color: var(--menu__active--color);
        }

        &:hover {
            border-color: var(--menu__active--color);
        }
    }
}


.sidebar {
    background: var(--sidebar-background-color);
    width: 270px;
    margin-left: 16px;
    border-radius: 10px;
    height: calc(100vh - 150px);
}

.main {
    width: 90vw;
    margin: 0 auto;
}

.container {
    margin-bottom: 50px;

    &__title {
        @extend .container;
        margin-bottom: 16px;
    }
}

