[data-theme="dark"] {
  --card__border--color: #212121;
  --card--code--color: #333333;
  --card--copy--color: #333333;
  --card--show-color: #ABA6A6;
  --card--show-color-hover: #E0E0E0;
  --card--copy--color-hover: #BEC1CC;
  --card--scroll--color: #212121; }

.c-wrapper-cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px; }
  .c-wrapper-cards__title {
    font-size: 32px; }

.c-card {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border: 1px solid var(--card__border--color);
  padding: 8px;
  border-radius: 4px;
  position: relative; }
  .c-card__title {
    font-weight: 600;
    font-size: 18px; }

@keyframes iconHide {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(180deg); } }

@keyframes iconShow {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(0deg); } }
  .c-card__icon {
    position: absolute;
    right: 16px;
    top: 12px;
    transition: .5s;
    transform: rotate(0deg);
    animation: iconShow 400ms; }
    .c-card__icon i {
      cursor: pointer;
      transition: .4s;
      color: var(--card--show-color); }
      .c-card__icon i:hover::before {
        color: var(--card--show-color-hover); }
    .c-card__icon.card__hide {
      animation: iconHide 400ms;
      transform: rotate(180deg); }
  .c-card__body {
    display: none;
    flex-wrap: wrap;
    transition: 5s;
    margin-top: 14px; }
    .c-card__body button {
      margin: 0 4px; }
  .c-card__copy {
    position: relative;
    width: 100%; }
    .c-card__copy i {
      cursor: pointer;
      transition: .4s;
      top: 24px;
      right: 12px;
      position: absolute; }
      .c-card__copy i::before {
        color: var(--card--copy--color); }
      .c-card__copy i:hover::before {
        color: var(--card--copy--color-hover); }
  .c-card__code {
    width: 100%;
    margin-top: 16px;
    border: 1px solid var(--card__border--color);
    background: none;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    border-radius: 3px;
    outline: none;
    font-family: monospace;
    padding: 8px;
    color: var(--card--code--color); }
    .c-card__code::-webkit-scrollbar {
      width: 5px; }
    .c-card__code::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: var(--card--scroll--color); }
