@import '../DesignSystem/css/abstract/_colors.scss';

:root {
  --icon__border--color: $gray--6;
  --icon__item--color: $gray--2;
  --icon__name--color: $gray--5;
  --icon__copy--color: $gray--5;
  --icon__copy--color-hover: $gray--7;
}

[data-theme="dark"] {
  --icon__border--color: $gray--2;
  --icon__item--color: $primary--3;
  --icon__name--color: $gray--8;
  --icon__copy--color: $gray--5;
  --icon__copy--color-hover: $gray--8;
}

.wrapper-filters {
  max-width: calc(25% - 32px);
  margin: 40px 16px;
}

.wrapper-icons {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  margin: 16px;
  width: calc(25% - 32px);
  grid-area: "icon";
  border: 1px solid var(--icon__border--color);
  border-radius: 4px;
  padding: 10px;

  &__item {
    margin-right: 10px;
    
    &::before {
      color: var(--icon__item--color);
    }
  }

  &__name {
    color: var(--icon__name--color);
    font-size: 14px;
    word-break: break-all;
    padding-right: 20px;
  }

  &__copy {
    position: absolute;
    right: 10px;
    cursor: pointer;

    &::before {
      color: var(--icon__copy--color);
    }

    &:hover {
      &::before {
        color: var(--icon__copy--color-hover);
      }
    }
  }
}
