@font-face {
  font-family: 'Tofino';
  src: url("../fonts/TofinoProPersonal-Thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: 'Tofino';
  src: url("../fonts/TofinoProPersonal-Light.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: 'Tofino';
  src: url("../fonts/TofinoProPersonal-Book.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: 'Tofino';
  src: url("../fonts/TofinoProPersonal-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: 'Tofino';
  src: url("../fonts/TofinoProPersonal-Semibold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Tofino';
  src: url("../fonts/TofinoProPersonal-Black.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: 'Tofino';
  src: url("../fonts/TofinoProPersonal-Ultra.otf") format("opentype");
  font-weight: 900;
}

:root {
  --orange-brand-1: #EE6B04;
  --orange-brand-2: #EC7802;
  --orange-brand-3: #FCA800;
  --yellow-brand-1: #FDD300;
  --red-brand-1: #F5470D;
  --green: #11D148;
  --green-dark: #0C9634;
  --blue: #1160ED;
  --blue-light: #1ABBED;
  --blue-dark: #1346A1;
  --yellow: #FFE248;
  --yellow-dark: #e6c317;
  --red: #FF5151;
  --red-dark: #9A0F0F;
  --black: #000000;
  --gray-dark: #151515;
  --gray-dark-2: #292929;
  --gray-dark-3: #4F4F4F;
  --gray-light: #BDBDBD;
  --gray-light-2: #E0E0E0;
  --gray-light-3: #F2F2F2;
  --white: #FFFFFF;
  --average: #FFA059;
  --system-down: #E45959;
  --warning: #FFC859;
  --high: #E97659;
  --not-classified: #97AAB3;
  --information: #42AEFC;
  --average-2: #FFA05950;
  --system-down-2: #E4595950;
  --warning-2: #FFC85950;
  --high-2: #E9765950;
  --not-classified-2: #97AAB350;
  --information-2: #42AEFC50;
  --orange-componentes: #FF7E00;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Tofino', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h6, h5, h4, h3, h2, h1 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 600;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

a > code {
  color: inherit;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

:root {
  --slider__backgroundSlider--color: linear-gradient(78.6deg, var(--red-brand-1) -25.73%, var(--orange-brand-3) 143.01%);
  --slider__border--color: var(--gray-light);
  --slider__icon--day: var(--white);
  --slider__icon--night: var(--gray-light);
}

[data-theme="dark"] {
  --slider__backgroundSlider--color: linear-gradient(78.6deg, var(--red-brand-1) -25.73%, var(--orange-brand-3) 143.01%);
  --slider__border--color: var(--gray-dark-2);
  --slider__icon--day: var(--gray-dark-2);
  --slider__icon--night: var(--white);
}

.themeSwitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  position: relative;
  min-width: 74px;
  max-width: 74px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.themeSwitch .themeSwitch__input {
  display: none;
}

.themeSwitch .themeSwitch__input:checked + .themeSwitch__slider:before {
  -webkit-transform: translateX(32px);
          transform: translateX(32px);
}

.themeSwitch .themeSwitch__icons {
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.themeSwitch .themeSwitch__icons svg {
  margin: 0 9px;
}

.themeSwitch .themeSwitch__icons .themeSwitch__icon--day path {
  stroke: var(--slider__icon--day);
}

.themeSwitch .themeSwitch__icons .themeSwitch__icon--night path {
  margin-left: 9px;
  stroke: var(--slider__icon--night);
}

.themeSwitch .themeSwitch__slider {
  background-color: none;
  border: 1px solid var(--slider__border--color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 6px;
}

.themeSwitch .themeSwitch__slider:before {
  background: var(--slider__backgroundSlider--color);
  bottom: 2px;
  content: "";
  height: 26px;
  left: 2px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 6px;
  width: 36px;
}

:root {
  --button-background-color:  linear-gradient(78.6deg, var(--red-brand-1) -25.73%, var(--orange-brand-3) 143.01%);
  --button-font-color: var(--white);
}

[data-theme="dark"] {
  --button-background-color: var(--black);
  --button-font-color: var(--red);
}

.c-button, .c-button--primary {
  border: none;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 14px;
}

.c-button--primary {
  background: var(--button-background-color);
  color: var(--button-font-color);
}

.c-button--primary {
  background: var(--button-background-color);
  color: var(--button-font-color);
}

:root {
  --input__background--color: var(--gray-light-2);
  --input__font--color: var(--gray-light);
  --input__border--color: var(--gray-light);
  --input--active-1: var(--orange-brand-3);
  --input--active-2: var(--orange-brand-2);
}

[data-theme="dark"] {
  --input__background--color: var(--gray-dark);
  --input__font--color: var(--red);
  --input__border--color: var(--gray-dark);
  --input--active-1: var(--gray-light);
  --input--active-2: var(--orange-brand-3);
}

.c-input {
  position: relative;
  width: 100%;
}

.c-input .c-input__field {
  outline: none;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid var(--input__border--color);
  padding: 0 15px;
  font-size: 14px;
  -webkit-transition: .4s;
  transition: .4s;
}

.c-input .c-input__field::-webkit-input-placeholder {
  color: transparent;
  font-size: 14px;
}

.c-input .c-input__field:-ms-input-placeholder {
  color: transparent;
  font-size: 14px;
}

.c-input .c-input__field::-ms-input-placeholder {
  color: transparent;
  font-size: 14px;
}

.c-input .c-input__field::placeholder {
  color: transparent;
  font-size: 14px;
}

.c-input .c-input__field:focus {
  background-image: radial-gradient(circle at 100% 100%, transparent 3px, var(--input--active-2) 3px, var(--input--active-2) 5px, transparent 5px), -webkit-gradient(linear, left top, right top, from(var(--input--active-2)), to(var(--input--active-1))), radial-gradient(circle at 0% 100%, transparent 3px, var(--input--active-1) 3px, var(--input--active-1) 5px, transparent 5px), -webkit-gradient(linear, left top, left bottom, from(var(--input--active-1)), to(var(--input--active-1))), radial-gradient(circle at 0% 0%, transparent 3px, var(--input--active-1) 3px, var(--input--active-1) 5px, transparent 5px), -webkit-gradient(linear, right top, left top, from(var(--input--active-1)), to(var(--input--active-2))), radial-gradient(circle at 100% 0%, transparent 3px, var(--input--active-2) 3px, var(--input--active-2) 5px, transparent 5px), -webkit-gradient(linear, left bottom, left top, from(var(--input--active-2)), to(var(--input--active-2)));
  background-image: radial-gradient(circle at 100% 100%, transparent 3px, var(--input--active-2) 3px, var(--input--active-2) 5px, transparent 5px), linear-gradient(to right, var(--input--active-2), var(--input--active-1)), radial-gradient(circle at 0% 100%, transparent 3px, var(--input--active-1) 3px, var(--input--active-1) 5px, transparent 5px), linear-gradient(to bottom, var(--input--active-1), var(--input--active-1)), radial-gradient(circle at 0% 0%, transparent 3px, var(--input--active-1) 3px, var(--input--active-1) 5px, transparent 5px), linear-gradient(to left, var(--input--active-1), var(--input--active-2)), radial-gradient(circle at 100% 0%, transparent 3px, var(--input--active-2) 3px, var(--input--active-2) 5px, transparent 5px), linear-gradient(to top, var(--input--active-2), var(--input--active-2));
  background-size: 5px 5px, calc(100% - 10px) 2px, 5px 5px, 2px calc(100% - 10px);
  background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
  background-repeat: no-repeat;
  border: none;
}

.c-input .c-input__field:focus::-webkit-input-placeholder {
  color: var(--input__font--color);
}

.c-input .c-input__field:focus:-ms-input-placeholder {
  color: var(--input__font--color);
}

.c-input .c-input__field:focus::-ms-input-placeholder {
  color: var(--input__font--color);
}

.c-input .c-input__field:focus::placeholder {
  color: var(--input__font--color);
}

.c-input .c-input__field:focus + .c-input__label,
.c-input .c-input__field:valid + .c-input__label {
  font-size: 12px;
  font-weight: 400;
  top: -6px;
  z-index: 2;
}

.c-input .c-input__label {
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--input__background--color)), color-stop(75%, var(--input__background--color)), color-stop(49%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, var(--input__background--color) 0%, var(--input__background--color) 75%, rgba(0, 0, 0, 0) 49%);
  cursor: text;
  z-index: -1;
  top: 10px;
  left: 6px;
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
  color: var(--input__font--color);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
/*# sourceMappingURL=main.css.map */