:root{
  --button-background-color:  linear-gradient(78.6deg, #F5470D -25.73%, #FCA800 143.01%);;
  --button-font-color: var(--white);
}

[data-theme="dark"] {
  --button-background-color: var(--black);
  --button-font-color: var(--red);
}

.btn__primary {
    background: var(--button-background-color);
    color: var(--button-font-color);
    border: none;
    border-radius: 4px;
    margin: 4px;
    padding: 2px 16px;
    font-size: 16px;
}