:root{
  --button-background-color:  linear-gradient(78.6deg, var(--red-brand-1) -25.73%, var(--orange-brand-3) 143.01%);
  --button-font-color: var(--white);
}

[data-theme="dark"] {
  --button-background-color: var(--black);
  --button-font-color: var(--red);
}

.btn {
  border: none;
  border-radius: 4px;
  margin: 4px;
  padding: 10px 12px;

  &--primary {
    @extend .btn;
    background: var(--button-background-color);
    color: var(--button-font-color);
  }

  &--primary {
    @extend .btn;
    background: var(--button-background-color);
    color: var(--button-font-color);
  }
}
