:root{
    --form-error__label--color: var(--red);

}
  
[data-theme="dark"] {
    --form-error__label--color: var(--red);

}

.c-form-error{
    display: flex;
    align-items: center;
    margin-top: 4px;

    &__icon {
        margin-right: 4px;
        display: flex;
        align-items: center;
    }

    &__label {
        color: var(--form-error__label--color);
        font-weight: 400;
        font-size: 12px;
        margin-top: 1px;
    }
} 

