:root{
    --input__background--color: var(--gray-light-2);
    --input__font--color: var(--gray-light);
    --input__border--color: var(--gray-light);
    --input--active-1: var(--orange-brand-3);
    --input--active-2: var(--orange-brand-2);
}
  
[data-theme="dark"] {
    --input__background--color: var(--gray-dark);
    --input__font--color: var(--red);
    --input__border--color: var(--gray-dark);
    --input--active-1: var(--gray-light);
    --input--active-2: var(--orange-brand-3);
}

.c-input{
  position: relative;
  width: 100%;

  .c-input__field {
    outline: none;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid var(--input__border--color);
    padding: 0 15px;
    font-size: 14px;
    transition: .4s;

    &::placeholder {
        color: transparent;
        font-size: 14px;

    }

    &:focus{
        background-image: radial-gradient(circle at 100% 100%, transparent 3px, var(--input--active-2) 3px, var(--input--active-2) 5px, transparent 5px), linear-gradient(to right, var(--input--active-2), var(--input--active-1)), radial-gradient(circle at 0% 100%, transparent 3px, var(--input--active-1) 3px, var(--input--active-1) 5px, transparent 5px), linear-gradient(to bottom, var(--input--active-1), var(--input--active-1)), radial-gradient(circle at 0% 0%, transparent 3px, var(--input--active-1) 3px, var(--input--active-1) 5px, transparent 5px), linear-gradient(to left, var(--input--active-1), var(--input--active-2)), radial-gradient(circle at 100% 0%, transparent 3px, var(--input--active-2) 3px, var(--input--active-2) 5px, transparent 5px), linear-gradient(to top, var(--input--active-2), var(--input--active-2));
        background-size: 5px 5px, calc(100% - 10px) 2px, 5px 5px, 2px calc(100% - 10px);
        background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
        background-repeat: no-repeat;
        border: none;

        &::placeholder {
            color: var(--input__font--color);
        }
    }

    &:focus + .c-input__label,
    &:valid + .c-input__label{
        font-size: 12px;
        font-weight: 400;
        top: -6px;
        z-index: 2;
    }
  }

  .c-input__label {
    position: absolute;
    background: linear-gradient(0deg, var(--input__background--color) 0%, var(--input__background--color) 75%, rgba(0,0,0,0) 49%);
    cursor: text;
    z-index: -1;
    top: 10px;
    left: 6px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
    color: var(--input__font--color);
    transition: all .3s ease
  }
}

